.lbl_un{
    padding-left: 0px; 
}

.lbl_pwd{
    padding-left: 130px;
}

.submitAccounts{
    background-color: lightblue;
}

.addToList{
    background-color: lightblue;
}

.addFromCsv{
    background-color: lightblue;
}

table{
    border-radius: 5px;
    border: 1px solid black;
}

th,td{
    width: 200px;
    text-align: center;
    border: 1px solid black;
}

.hidetext{
    -webkit-text-security: disc;
}

.hidetext:hover{
    -webkit-text-security: none;
}

.howto{
    color: blue;
    padding-left: 450px;
}

.container{
    border-color: white;
    border-width: 20px;
    border-style: solid;
    margin-left: 50px;
}